body {
	background: #fdc9ed;
	}

h1, h2, h3, h4 {
	font-family: 'Cutive Mono', monospace;
	color: #19a3e7;
}

h1 {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.5em;
}

h2 {
	font-weight: normal;
	font-size: 26px;
	line-height: 1.5em;
}

p {
	color: #19a3e7;
	font-weight: normal;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 1.5em;
}

hr{
	color: #f2fefb;
}

a{
	color: #ffff66;
	text-decoration: none;
}

ul {
	list-style-type: square;
	font-weight: normal;
	color: #19a3e7;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 1.5em;
}

nav {
	background-color: #e3abf9;
}

#wrapper{
	margin: 8em auto;
	width: 1200px;
	background-color: #f9e3ab;

}


footer {
	background-color: #e3abf9;
}
