body {
	background: #fdc9ed;
	font-color: #00aaff;
	max-width: 1200px;
	margin: 100px, 100px, 100px, 0px;
	}

h1, h2, h3, h4 {
	font-family: 'Cutive Mono', monospace;
	font-color: #00aaff;
}

h1 {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.5em;
	padding: 15px 0px 15px 0px;
}

h2 {
	font-weight: normal;
	font-size: 26px;
	line-height: 1.5em;
	padding: 15px 0px 15px 0px;
}

p {
	font-color: #00aaff;
	font-weight: normal;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 1.5em;
	padding: 15px 0px 15px 0px;
}

#note{
	font-weight: normal;
	font-color: #c9edfd;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 1.5em;
	padding: 15px 0px 15px 0px;
}

hr{
	color: #f2fefb;
	border-width: 2px;
}

a{
	color: #ffff66;
	text-decoration: none;
}

ul {
	list-style-type: square;
	font-weight: normal;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 1.5em;
}

nav {
	font-size: 28px;
	font-height: 2em;
	font-style: bold;
	font-family: 'Cutive Mono', monospace;
	font-color: #ffff66;
	background-color: #e3abf9;
}

#wrapper{
	margin: 0 auto;
	width: 1200px;
	background-color: #f9e3ab;

}

#main {
	padding: 5em;
}

footer {
	font-size: 28px;
	font-style: bold;
	font-family: 'Cutive Mono', monospace;
	font-color: #ffff66;
	font-height: 2em;
	background-color: #e3abf9;
	border-color: #f9e3ab;
	border-radius: 3px;
}
